<!--DOCTYPE html-->

<html>
    <head>
        <title>Rachael Wisecarver</title>
        <link rel="stylesheet" href="../static/css/base.css">
    </head>
    <body>
        <header>
            <h1><a href="index.html">Rachael Wisecarver</a></h1>
            <nav>
                <ul>
                    <li><a href="about.html">About</a></li>
                    <li><a href="create.html">New Post</a></li>
                    <li><a href="#">Projects</a></li>
                </ul>
            </nav>
        </header>
        <main>
            <article id="about">
                <img src="../static/images/me.jpg"/>
                <p>Loaded to the gunwalls gibbet bucko dead men tell no tales pressgang grapple careen Sail ho gally bilged on her anchor run a shot across the bow doubloon log gunwalls pillage. Maroon sloop heave to careen boom handsomely Blimey port sheet skysail shrouds aye Sail ho ye blow the man down. Shiver me timbers belaying pin provost carouser knave haul wind hands main sheet holystone Gold Road pirate booty Buccaneer measured fer yer chains red ensign. Mizzenmast careen Jolly Roger gally long clothes pillage swab Blimey grapple galleon keel coxswain lee bowsprit quarterdeck.</p>   
            </article>
        </main>
        <footer>
            <p class="footer">&#169 2016 Rachael Wisecarver</p>
        </footer>
    </body>
</html>