<!--DOCTYPE html-->

<html>
    <head>
        <title>Rachael Wisecarver</title>
        <link rel="stylesheet" href="../static/css/base.css">
    </head>
    <body>
        <header>
            <h1><a href="index.html">Rachael Wisecarver</a></h1>
            <nav>
                <ul>
                    <li><a href="about.html">About</a></li>
                    <li><a href="create.html">Create</a></li>
                    <li><a href="#">Projects</a></li>
                </ul>
            </nav>
        </header>
        <main>
            <h3>Create a Post</h3>
            <article class="create">
                <form method="POST" action="" enctype="multipart/form-data">
                    <textarea class="blogpost" name="post" cols="80" rows="20"></textarea>
                    <br>
                    <br>
                    <input class="btn" type="submit" value="Submit">
                </form>
            </article>
        </main>
        <footer>
            <p class="footer">&#169 2016 Rachael Wisecarver</p>
        </footer>
    </body>
</html>
