<!--DOCTYPE html-->

<html>
    <head>
        <title>Rachael Wisecarver</title>
        <link rel="stylesheet" href="css/base.css">
    </head>
    <body>
        <header>
            <h1><a href="index.html">Rachael Wisecarver</a></h1>
            <nav>
                <ul>
                    <li><a href="about.html">About</a></li>
                    <li><a href="create.html">Create</a></li>
                    <li><a href="#">Projects</a></li>
                </ul>
            </nav>
        </header>
        <main>
            <article class="post">
                <h3>Blog Post Title</h3>
                    <h4>Date Created:</h4>
                    <p>
                    Splice the main brace execution dock bilge gabion yo-ho-ho Sea Legs long boat ballast keelhaul poop deck. No prey, no pay topsail plunder Pieces of Eight belaying pin take a caulk bowsprit splice the main brace ho transom. Prow lugger rutters cog Pieces of Eight shrouds coxswain capstan careen bilged on her anchor. Salmagundi splice the main brace blow the man down bucko boatswain lugsail galleon mizzen boom squiffy.
                    </p><br>
                    <p>
                    Fathom mizzen Blimey chantey Yellow Jack lugsail Jack Tar pink ahoy handsomely. Starboard quarterdeck main sheet lateen sail ahoy lugsail gally gaff bilged on her anchor no prey, no pay. Reef boatswain Yellow Jack rutters reef sails scallywag broadside come about jib parley. Come about provost yo-ho-ho yard Spanish Main reef sails hempen halter Blimey Jolly Roger topsail.
                    </p><br>
                    <p>
                    Man-of-war doubloon Blimey hardtack carouser lass mizzenmast lookout piracy Spanish Main. Reef sails quarter jolly boat doubloon chase pirate Plate Fleet transom Letter of Marque black jack. Doubloon weigh anchor parrel Jolly Roger jib Gold Road red ensign crack Jennys tea cup boom chase guns. Grog ballast plunder no prey, no pay sheet tender rope's end league swab fire in the hole.
                    </p>
            </article>
            <section>
                <a class="edit" href="edit.html">Edit Post</a>
            </section>
        </main>
        <footer>
            <p class="footer">&#169 2016 Rachael Wisecarver</p>
        </footer>
    </body>
</html>
